.score-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
}

#title_number{
    border:5px solid orangered;
    background-color: yellow;

}

.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
}
#result{
    text-align: center;
    margin-bottom: 20px;
    font-family:'Roboto', sans-serif;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width:440px;
    height:440px;
    background-color:blue;
    margin: 0 auto;
    

}

.grid div {
    
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    border:5px solid orangered;
}